body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}



main {
  padding: 20px;
}

.loading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}



h2,
h3 {
  color: #4caf50;
}

#welcomH3 {
  text-decoration: underline;
  text-decoration-style: double;
  font-family: emoji;
  font-style: italic;
  text-decoration-color: khaki;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.spinner {
  justify-content: center;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Media queries para responsividad */
@media (max-width: 768px) {

  form {
    width: 381px;
    margin: 10px;
  }

  .events,
  .attendees {
    flex-direction: column;
    align-items: center;
  }

  .event,
  .attendee {
    max-width: 90%;
  }
}

@media screen and (max-width: 530px) {
  
  form{
    width: 325px;
  }
}

@media (max-width: 480px) {


  form {
    padding: 15px;
    width: 240px;
  }

  .event,
  .attendee {
    padding: 15px;
  }
}
