body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  text-align: center;
  position:relative;
}

header h1 {
  margin: 0;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.burger div {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s linear;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 5px 10px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #45a049;
}

main {
  padding: 20px;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h2,
h3 {
  color: #4caf50;
}

#welcomH3 {
  text-decoration: underline;
  text-decoration-style: double;
  font-family: emoji;
  font-style: italic;
  text-decoration-color: khaki;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.auth-container p {
  text-align: center;
  margin: 0;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.auth-container button {
  margin-bottom: 20px;
}

button:hover {
  background-color: #45a049;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
}

.organizer {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
}

.organizer h4 {
  margin: 0;
}

.events,
.attendees {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event,
.attendee {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
  max-width: 300px;
  margin: 10px;
  cursor: pointer;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.event:last-of-type {
  margin-bottom: 60px;
}

.event h3,
.attendee h4 {
  margin-top: 0;
}

.attendee h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#attendees-container{
  margin-bottom: 50px;
}
#attendees-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  gap: 20px;
  grid-auto-flow: dense;
  justify-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 16px;
  transition: all 0.3s ease;
}

.attendee-details {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/* .attendee-details {
  display: none;
} */

.grid-item.expanded .attendee-details {
  display: block;
}

.grid-item.expanded {
  grid-column: span 2;
}

.description{
  width: -webkit-fill-available;
  height: 45px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  header {
    padding: 10px 15px;
  }

  nav a {
    margin: 5px;
    padding: 8px 12px;
  }

  form {
    max-width: 100%;
    margin: 10px;
  }

  .events,
  .attendees {
    flex-direction: column;
    align-items: center;
  }

  .event,
  .attendee {
    max-width: 90%;
  }
}

@media screen and (max-width: 530px) {
  header {
    padding: 10px;
  }
  .burger {
    display: flex;
  }
  /* nav {
    flex-direction: column;
  } */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
  }

  .nav-links.nav-active {
    display: flex;
  }

  nav a {
    margin: 5px 0;
    text-align: center;
  }

  .burger.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.toggle div:nth-child(2) {
    opacity: 0;
  }

  .burger.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 480px) {


  form {
    padding: 15px;
  }

  .event,
  .attendee {
    padding: 15px;
  }
}
